@import "tailwindcss";

:root {
  /* Main Colors */
  --main-color: rgba(255, 118, 162, 1); /* Pink */
  --text-color: #000000; /* Black */
  --background-color: #ffffff; /* White */
  --secondary-color: #ff8300; /* Orange */
  --foreground: var(--text-color); /* Text color */
}

:root {
  --color-background: var(--background-color);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-pink {
  background-color: #ff5a9e; /* Always pink */
  color: white;
  border: none;
}

.btn-pink:hover {
  background-color: #ff5a9e; /* Keep the same color on hover */
}

